body{
    background-image:url(images/kelpbg.jpg);
}

div.square{
    display: inline-block;
    width: 800px;
    height:auto ;
    position: fixed;
    align-self: center;
}

div#d1{
    background-image: background;
}